<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>Add New Skill</title>
    </head>
    <body>
        <a href="/skills">&lt;Back</a>
        <h2>Add new skill</h2>
        <section>
            <form action="/skills" method="post">
                <label>
                    <h3>Skill Name</h3>
                    <input type="text" name="name"
                /></label>
                <br />
                <label>
                    <h3>Detail</h3>
                    <textarea name="detail" cols="30" rows="5"></textarea>
                </label>
                <br />
                <label>
                    <h3>Comment</h3>
                    <textarea name="comment" cols="30" rows="5"></textarea>
                </label>
                <br />
                <button><strong>Submit</strong></button>
            </form>
        </section>
    </body>
</html>
